<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />

</head>

<body>
     <div class="container">
        <h1>Budgtr ALL</h1>
        
             <% for (let i=0; i < allBudget.length; i++) { %> 
                <td>   <table>
                     <td> <tr><%= allBudget[i].date %></tr> 
                 <a href="/budget/<%= i %>">
                    <%= allBudget[i].name %> 
                </a> 
                 <tr><%= allBudget[i].amount %></tr> </td>
                <% } %> 
        </table> </td>
    </div> 
</body>

</html>