<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />

</head>

<body>
    
    
     
    
        <div class="container">
            <h1>Budgtr ALL</h1>

            <nav>
                <a href="/budgets/New"><button>Create a new Budget</button></a>
            </nav>
           
        

         <td><% for (let index = 0; index < allBudget.length; index++) { %></td>  
             <table>   
                    
                         <td><%=  allBudget[index].date; %></td>
                         <td><a href="/budgets/<%= index %>"> <%=  allBudget[index].name; %></a></td>
                         <td><%=  allBudget[index].amount; %></td> 
                    
                <%} 
            %>
            </table>
        </div>
    </tr>
    </div> 
</body>

</html>